@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}

a:hover{
    color: #4361ee;
}

body{
    background-image: url("bg-2.jpg");
    background-size: cover;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

nav .left{
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .left .logo img{
    width: 48px;
    height: 48px;
    object-fit: cover;
}

nav .left .links{
    display: flex;
    gap: 20px;
    font-size: 15px;
    font-weight: bold;
}

nav .buttons{
    display: flex;
    gap: 14px;
}

nav .buttons a{
    background-color: #eaf4f4;
    padding: 10px;
    color: #2d6a4f;
    border-radius: 50%;
    font-size: 18px;
}

header{
    color: #323232;
    text-align: center;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(assets/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header .info h1{
    font-weight: 700;
    font-size: 5rem;
    box-shadow: 0 5px 15px rgba(10, 11, 12, 0.35);
    padding: 1.7rem;
    border-radius: 1.6rem;
    cursor: pointer;
    color: #000;
}

header .info p{
    color: #040303;
    font-size: 30px;
    margin-top: 14px;
    font-weight: bold;
}

header .buttons{
    display: flex;
    gap: 14px;
    margin-top: 10px;
}

header .buttons button{
    border: none;
    padding: 8px;
    width: 140px;
    border-radius: 10px;
    background-color: #777;
    color: #fff;
    cursor: pointer;
}

header .buttons button.see-all{
    background-color: #2d6a4f;
}

header .search{
    position: relative;
    width: 30%;
    margin-top: 100px;
}

header .search a{
    display: inline-block;
    background-color: #0a0909;
    color: #fff;
    padding: 0.7rem 2rem;
    text-decoration: none;
    font-weight: 700;
    border-radius: 0.7rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

header .search a:hover{
    color: #4361ee;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px;
    background-image: url("bg-2.jpg");
    color: #0a0808;
    border-radius: 40px 40px 0 0;
}


footer .columns{
    display: flex;
    justify-content: space-around;
}

footer .columns .col{
    display: flex;
    flex-direction: column;
    flex: 2;
}

footer .columns .col.last{
    flex: 3;
}

footer .columns .col h5{
    margin-bottom: 14px;
    font-size: 16px;
}

footer .columns .col a{
    margin-bottom: 4px;
    color: #ccc;
    font-size: 14px;
}

footer .columns .col a:hover{
    color: #fff;
}

footer .columns .col.last p{
    font-size: 14px;
    margin-bottom: 14px;
}

footer .columns .col.last .social-links{
    display: flex;
    align-items: center;
    gap: 20px;
}

footer .columns .col.last .social-links i{
    font-size: 20px;
    cursor: pointer;
}

footer .copyright{
    margin-top: 25px;
    font-size: 13px;
}

@media screen and (max-width:1200px) {
    
    nav{
        padding: 0 60px;
    }

    header .search{
        width: 50%;
    }

    .content{
        padding: 100px 60px 0;
    }

    .content .courses .item .top,
    .content .courses .item .bottom,
    .content .articles .item .bottom{
        flex-direction: column;
    }

    .content .courses .item .top img{
        width: 100%;
        height: 180px;
    }

    .content .courses .item .bottom .price{
        text-align: center;
    }

    .content .courses .item .bottom .discount{
        justify-content: space-between;
    }

    .content .courses .item .bottom h5.tag{
        text-align: center;
    }

    .content .courses .item .bottom .discount > h5{
        width: 70%;
        text-align: center;
    }

    .content .comments{
        flex-direction: column;
    }

    .content .comments > p{
        width: 100%;
        font-size: 16px;
    }

}
@media screen and (max-width: 940px) {
    
    nav .left .logo{
        display: none;
    }

    .content .courses .item,
    .content .articles .item{
        width: 45%;
    }

    .content .courses .item .bottom .discount > h5{
        width: 80%;
    }

    .content .comments .right .item{
        width: 48%;
    }

    .content .podcasts .item .top,
    .content .podcasts .item .bottom{
        flex-direction: column;
    }

    .content .podcasts .item .top i{
        text-align: center;
        padding: 18px;
    }

    .content .podcasts .item .bottom{
        text-align: center;
    }

    .content .articles .item .top img{
        height: 220px;
    }

    footer{
        padding: 10px 10px 10px;
    }

    footer .columns{
        flex-wrap: wrap;
        row-gap: 20px;
    }

    footer .columns .col,
    footer .columns .col.last{
        width: 45%;
        flex: none;
    }

}
@media screen and (max-width:768px) {
    
    nav{
        padding: 0 30px;
    }

    nav .left .links{
        font-size: 13px;
        gap: 14px;
    }

    nav .buttons a:first-child{
        display: none;
    }

    header .info h1{
        font-size: 26px;
    }

    header .info p{
        font-size: 16px;
    }

    header .search{
        width: 70%;
    }

    .content{
        padding: 100px 30px 0;
    }

    .content .courses .item .top{
        height: 324px;
    }

    .content .courses .item .bottom .discount .time{
        display: none;
    }

    .content .courses .item .bottom .discount > h5{
        width: 100%;
    }

    .content .articles .item .top img{
        height: 160px;
    }

    footer{
        padding: 10px 10px 10px;
    }

}

@media screen and (max-width:576px) {
    
    nav .left .links a:nth-child(5),
    nav .left .links a:nth-child(6){
        display: none;
    }

    .content .courses .item .top .info a,
    .content .podcasts .item .top .info a{
        font-size: 14px;
    }

    .content .comments .right .item p{
        font-size: 12px;
    }

    footer{
        padding: 10px 10px 10px;
    }
}