@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    gap: 0;
}

a{
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}

a:hover{
    color: #4361ee;
}

body{
    background-image: url("bg.jpg");
    background-size: cover;
}

.content{
    background-color: url("bg.jpg");
    padding: 100px 80px 0px;
    font-size: 25px;
}

.content .separator{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.content .separator a:hover{
    color: #fbf976;
}

.content .separator a,
.content .articles .item .bottom a{
    display: flex;
    align-items: center;
    gap: 2px;
    color: #272a2a;
    font-size: 15px;
}

.content .separator a i,
.content .articles .item .bottom a i{
    font-size: 18px;
}

.content .courses,
.content .podcasts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-bottom: 100px;
}

.content .courses .item,
.content .podcasts .item{
    width: 28%;
}

.content .courses .item .top,
.content .courses .item .bottom,
.content .podcasts .item .top,
.content .podcasts .item .bottom,
.content .articles .item .top,
.content .articles .item .bottom{
    display: flex;
    gap: 45px;
    background-color: #fff;
    padding: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    border-bottom: 1px dashed #888;
}

.content .courses .item .top img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}


.content .courses .item .top .info2 a,
.content .podcasts .item .top .info2 a{
    display: grid;
    text-align: center;
    margin-top: 20px;
    margin-left: 35px;
    font-size: 26px;
    font-weight: 1000;
    margin-bottom: 8px;
    line-height: 1.4rem;
}

.content .podcasts .item .top i{
    font-size: 40px;
    background-color: #4e43ee;
    padding: 12px;
    color: #fff;
    border-radius: 10px;
}

.content .podcasts .item:nth-child(2) .top i{
    background-color: #4e43ee;
}

.content .podcasts .item:nth-child(3) .top i{
    background-color: #4e43ee;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px;
    color: #0a0808;
    border-radius: 40px 40px 0 0;
}

footer .columns{
    display: flex;
    justify-content: space-around;
}

footer .columns .col{
    display: flex;
    flex-direction: column;
    flex: 2;
}

footer .columns .col.last{
    flex: 3;
}

footer .columns .col h5{
    margin-bottom: 14px;
    font-size: 16px;
}

footer .columns .col a{
    margin-bottom: 4px;
    color: #ccc;
    font-size: 14px;
}

footer .columns .col a:hover{
    color: #fff;
}

footer .columns .col.last p{
    font-size: 14px;
    margin-bottom: 14px;
}

footer .columns .col.last .social-links{
    display: flex;
    align-items: center;
    gap: 20px;
}

footer .columns .col.last .social-links i{
    font-size: 20px;
    cursor: pointer;
}

footer .copyright{
    margin-top: 10px;
    font-size: 15px;
}

@media screen and (max-width:1200px) {
    
    nav{
        padding: 0 60px;
    }

    header .search{
        width: 50%;
    }

    .content{
        padding: 100px 60px 0;
        font-size: 20px;
    }

    .content .courses .item .top,
    .content .courses .item .bottom,
    .content .articles .item .bottom{
        flex-direction: column;
    }

    .content .courses .item .top img{
        width: 100%;
        height: 180px;
    }

    .content .courses .item .bottom .price{
        text-align: center;
    }

    .content .courses .item .bottom .discount{
        justify-content: space-between;
    }

    .content .courses .item .bottom h5.tag{
        text-align: center;
    }

    .content .courses .item .bottom .discount > h5{
        width: 70%;
        text-align: center;
    }

    .content .comments{
        flex-direction: column;
    }

    .content .comments > p{
        width: 100%;
        font-size: 16px;
    }

}

@media screen and (max-width: 1300px) {
    
    nav .left .logo{
        display: none;
    }

    .content .courses .item,
    .content .articles .item{
        width: 10%;
    }

    .content .courses .item .top .info2 a,
    .content .podcasts .item .top .info2 a{
        font-size: 20px;
        margin-left: 0px;
        text-align: center;
    }

    .content .courses .item .bottom .discount > h5{
        width: 60%;
    }

    .content .comments .right .item{
        width: 20%;
    }

    .content .podcasts .item .top,
    .content .podcasts .item .bottom{
        flex-direction: column;
    }

    .content .podcasts .item .top i{
        text-align: center;
        padding: 10px;
    }

    .content .podcasts .item .bottom{
        text-align: center;
    }

    .content .articles .item .top img{
        height: 120px;
    }

    footer{
        padding: 20px 20px 20px;
    }

    footer .columns{
        flex-wrap: wrap;
        row-gap: 20px;
    }

    footer .columns .col,
    footer .columns .col.last{
        width: 45%;
        flex: none;
    }

}

@media screen and (max-width: 1000px) {
    
    nav .left .logo{
        display: none;
    }

    .content .courses .item,
    .content .articles .item{
        width: 45%;
    }

    .content .courses .item .top .info2 a,
    .content .podcasts .item .top .info2 a{
        font-size: 20px;
        margin-left: 0px;
        text-align: center;
    }

    .content .courses .item .bottom .discount > h5{
        width: 80%;
    }

    .content .comments .right .item{
        width: 48%;
    }

    .content .podcasts .item .top,
    .content .podcasts .item .bottom{
        flex-direction: column;
    }

    .content .podcasts .item .top i{
        text-align: center;
        padding: 18px;
    }

    .content .podcasts .item .bottom{
        text-align: center;
    }

    .content .articles .item .top img{
        height: 220px;
    }

    footer{
        padding: 20px 20px 20px;
    }

    footer .columns{
        flex-wrap: wrap;
        row-gap: 20px;
    }

    footer .columns .col,
    footer .columns .col.last{
        width: 45%;
        flex: none;
    }

}

@media screen and (max-width: 940px) {
    
    nav .left .logo{
        display: none;
    }

    .content .courses .item,
    .content .articles .item{
        width: 45%;
    }

    .content .courses .item .top .info2 a,
    .content .podcasts .item .top .info2 a{
        font-size: 20px;
        margin-left: 0px;
        text-align: center;
    }

    .content .courses .item .bottom .discount > h5{
        width: 80%;
    }

    .content .comments .right .item{
        width: 48%;
    }

    .content .podcasts .item .top,
    .content .podcasts .item .bottom{
        flex-direction: column;
    }

    .content .podcasts .item .top i{
        text-align: center;
        padding: 18px;
    }

    .content .podcasts .item .bottom{
        text-align: center;
    }

    .content .articles .item .top img{
        height: 220px;
    }

    footer{
        padding: 20px 20px 20px;
    }

    footer .columns{
        flex-wrap: wrap;
        row-gap: 20px;
    }

    footer .columns .col,
    footer .columns .col.last{
        width: 45%;
        flex: none;
    }

}

@media screen and (max-width:768px) {
    
    nav{
        padding: 0 30px;
    }

    nav .left .links{
        font-size: 13px;
        gap: 14px;
    }

    nav .buttons a:first-child{
        display: none;
    }

    header .info h1{
        font-size: 26px;
    }

    header .info p{
        font-size: 16px;
    }

    header .search{
        width: 70%;
    }

    .content{
        padding: 100px 30px 0;
    }

    .content .courses .item .top .info2 a,
    .content .podcasts .item .top .info2 a{
        font-size: 20px;
        margin-left: 0px;
        text-align: center;
    }

    .content .courses .item .top{
        height: 324px;
    }

    .content .courses .item .bottom .discount .time{
        display: none;
    }

    .content .courses .item .bottom .discount > h5{
        width: 100%;
    }

    .content .articles .item .top img{
        height: 160px;
    }

    footer{
        padding: 20px 20px 20px;
    }

}

@media screen and (max-width:576px) {
    
    nav .left .links a:nth-child(5),
    nav .left .links a:nth-child(6){
        display: none;
    }

    .content .courses .item .top .info a,
    .content .podcasts .item .top .info a{
        font-size: 20px;
        margin-left: 1px;
        text-align: center;       
    }

    .content .courses .item .top .info2 a,
    .content .podcasts .item .top .info2 a{
        font-size: 15px;
        margin-top: 2px;
        margin-left: 1px;
        text-align: center;       
    }

    .content .courses .item .top .info button,
    .content .podcasts .item .top .info button{
        font-size: 15px;
        margin-left: 35px;
        text-align: center;
    }

    .content .comments .right .item p{
        font-size: 13px;
    }

    .content .podcasts .item .top .info p{
        font-size: 11px;
    }

    .content .podcasts .item .bottom .duration i{
        font-size: 20px;
    }

    footer{
        padding: 20px 20px 20px;
    }

}